.login-form{
  width: 50%;
  height: 30%;
  background-color: white;
  border: 1px solid #CFCECE;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}