.login-form{
  width: 50%;
  height: 30%;
  background-color: white;
  border: 1px solid #CFCECE;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-title{
  font-size: 24px;
}

@media (max-width: 768px) {
  .login-form {
    width: 90%;
    height: 40%;
  }
}