.google-login-button {
  width: 600px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  border-radius: 20px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, #90f 49.48%, rgba(153, 0, 255, 0) 100%);
  cursor: pointer;
}

.google-login-button:hover {
  background-color: grey;
}

.google-login-button__icon img {
  width: 36px;
}

.google-login-button__text {
  color: white;
  font-size: 32px;
  font-family: 'Toppan Bunkyu Gothic';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}




