.login-page {
  background-image: url('../assets/images/main_background.jpeg');
  background-size: 100% 100%; /* Fill the background with the image */
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw; /* Use viewport units to make the element the full width of the screen */
  height: 100vh; /* Use viewport units to make the element the full height of the screen */
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
