.register-button {
  width: 70%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #603ebb;
  cursor: pointer;
  text-decoration: none;
}

.register-button button{
  background-color: transparent;
  border: none;
}

.register-button:hover {
  background-color: #7e56da;
}

.register-button__text {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  -webkit-text-stroke-width: 1px;
}
