.modal {
  width: 33%;
  height: 30%;
  top: 35vh;
  left: 53%;
  background-color: white;
  border: 1px solid #CFCECE;
  border-radius: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  overflow: hidden;
  position: fixed;
}

.title{
  font-size: 24px;
  font-weight: bold;
}

.content {
  font-size: 20px;
}

.button {
  width: 70%;
  height: 20%;
  border-radius: 10px;
  background-color: #603EBB;
  color: white;
  border: none;
  font-size: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}